.about-Container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* About Text */
#Who{
  z-index: 99;
  text-align: center;
  margin-top: 20vh;
  font-size: 120px;
  margin-bottom: 20vh;
  position: relative;
  color: aliceblue;
}

/* Structure for Windows */
.All{
  height: 100%;
  width: 100%;
  /* display: inline-block; */
}

#lightFall{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 250px 100px;
  background: linear-gradient(to bottom, rgba(255, 117, 145, 0.738), transparent);
  mix-blend-mode: overlay;
  z-index: -1;
}

#nightFall{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20% 100%;
  background: linear-gradient(to top, rgba(15, 5, 17, 0.738), transparent);
  mix-blend-mode: multiply;
}

#wall{
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 150%;
}

.wrapper{
  height: 450px;
  width: 350px;
  position: relative;
  border: 20px solid rgb(36, 17, 43);
  float: left;
  outline: azure solid 2.5px;
  transform: translate(15pc);  
}

.win{
  overflow: hidden;
  height: 100%;
  width: 50%;
  border: 10px solid rgb(91, 50, 83);
  outline: azure solid 1.8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: center;
}

.shine{
  border: 5px solid white;
  height: 70%;
  width: 10%;
  transform: rotate(50deg);
  transition: 0.5s;
}

#leftwin{
  background: linear-gradient(
    180deg,
    rgba(231, 22, 70, 0.738) 0%,
    rgba(171, 47, 76, 0.738) 31.25%,
    rgb(194, 91, 107) 63.91%,
    rgb(216, 144, 163) 100%
  );
    top: 0;
    left: 0;
    transition: 0.5s;
    transform-origin: left;
}

.sill{
  position: absolute;
  bottom: -12%;
  width: 130%;
  height: 35px;
  left: -15%;
  background-color: rgb(86, 43, 102);
  outline: azure solid 2.5px;
}

.wrapper2{
  height: 450px;
  width: 350px;
  position: relative;
  border: 20px solid rgb(36, 17, 43);
  outline: azure solid 2.5px;
  float: right;
  transform: translate(-50%);
}

#rightwin{
  background: linear-gradient(
    180deg,
    rgba(231, 22, 70, 0.738) 0%,
    rgba(171, 47, 76, 0.738) 31.25%,
    rgb(194, 91, 107) 63.91%,
    rgb(216, 144, 163) 100%
  );
  top: 0;
  left: 50%;
  transition: 0.5s;
  transform-origin: right;
}

#leftwin2{
  background: linear-gradient(
    180deg,
    rgba(48, 185, 248, 0.911) 0%,
    rgba(124, 195, 226, 0.964) 31.25%,
    rgb(135, 207, 243) 63.91%,
    rgb(186, 223, 252) 100%
  );
  top: 0;
  left: 0;
  transition: 0.5s;
  transform-origin: left;
}

#rightwin2{
  background: linear-gradient(
    180deg,
    rgba(48, 185, 248, 0.911) 0%,
    rgba(124, 195, 226, 0.964) 31.25%,
    rgb(135, 207, 243) 63.91%,
    rgb(186, 223, 252) 100%
  );
  top: 0;
  left: 50%;
  transition: 0.5s;
  transform-origin: right;
}

.sill2{
  position: absolute;
  bottom: -12%;
  width: 130%;
  height: 35px;
  left: -15%;
  background-color: rgb(86, 43, 102);
  outline: azure solid 2.5px;
}

/* Open windows animation. */

.wrapper:hover #rightwin{
  transform: rotateY(-180deg);
}
.wrapper:hover #leftwin{
  transform: rotateY(-180deg);
}
.wrapper2:hover #leftwin2{
  transform: rotateY(-180deg);
}
.wrapper2:hover #rightwin2{
  transform: rotateY(-180deg);
}

/* Shine inside windows becomes opaque. */

.wrapper:hover .shine{
  opacity: 25%;
}
.wrapper2:hover .shine{
  opacity: 25%;
}