.container{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

}

#Who{
  margin-top: 20vh;
  font-size: 100px;
}

#Window{
  background-color: rgb(156, 222, 222);
  height: 450px;
  width: 300px;
  border-style: solid;
  border-width: 20px;
  border-color: black;
  transition: 0.5s;
}

#TpW{
  background-color: black;
  transform: translateY(-40vh);
  width: 300px;
  height: 20px;

}

#BpW{
  background-color: black;
  transform: translateY(-5vh);
  width: 300px;
  height: 20px;
  transition: 0.5s;
}

#Window:hover ~ #BpW{
  transform: translateY(-33vh);
}