@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,700&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.home-Container {
  height: 3000px;
}

@media only screen and (min-width: 1400px) {
  .home-Container {
    height: 1900px;
  }
}

/* To fix image background */
html, body {
  background-color: #fff;
}

#city {
  position: fixed;
  top: 12pc;
  width: 100%;
  height: 250%;
  object-fit: cover;
  mix-blend-mode: multiply;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.btn-group {
  position: fixed;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: block;
}

@media only screen and (min-width: 1400px) {
  .btn-group {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}

.butt {
  color: white;
  width: 45%;
  background-color: rgb(178, 9, 167);
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  margin: 100px;
}

.butt:hover {
  background-color:rgb(235, 68, 235);
  border-color: rgb(243, 165, 255);
}
