.Main {
  position: relative;
  
}
.container {
  min-height: 1024px;
}

.container > header{
  position: absolute;
}  

.btn-group-vertical{
  top: 250px;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-group-vertical .btn.btn-primary:hover{
  background-color: rgb(191, 87, 170);
}