.Main {
    text-align: center;
    position: relative;
    top: 300px;
  }

  .results-Con{
    height: 100vh;
  }

  button {
    background: purple;
    width: 10%;
    height: 50px;
    margin: 1%;
    transition: .3s;
  }

 .Main p{
    margin: auto;
    color: black;
    font-weight: bold;
    background-color: rgb(234, 175, 238);
    width: 15%;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
    animation: fadein 3s ease;
  }

  @keyframes fadein {
    from{
      opacity: 0;
    }
    to{
      opacity: 100%;
    }
  }

  .Main h1 {
    -webkit-text-fill-color: aliceblue;
    -webkit-text-stroke: .8px black;
  }