.btn3 {
  --bs-btn-bg: rgb(178, 9, 167);
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: rgb(178, 9, 167);
  --bs-btn-active-bg: rgb(95, 2, 95);
  --bs-btn-active-border-color: none;
  margin: 1%;
  width: 55%;
}
.btn3 :hover {
  --bs-btn-bg: rgb(95, 2, 95);
}

/* For Mobile Devices. */
@media only screen and (max-width: 610px) {
  .btn3 {
    display: block;
    width: 100%;
  }
}