.btn {
  --bs-btn-bg: rgb(178, 9, 167);
  --bs-btn-border-color: none;
  --bs-btn-hover-bg: rgb(178, 9, 167);
  --bs-btn-active-bg: rgb(95, 2, 95);
  --bs-btn-active-border-color: none;
  margin: 1%;
  width: 55%;
}
.btn :hover {
  --bs-btn-bg: rgb(95, 2, 95);
}