.Main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color:white;
}

.qq-container{
  height: 100vh;
}

.submit {
  color: white;
  border: none;
  background: rgb(178, 9, 167);
}
.submit:hover {
  background-color:rgb(95, 2, 95);
}
.title {
  margin-bottom: 5%;
  text-decoration: underline;
}

/* For Mobile Devices. */
@media only screen and (max-width: 610px) {
  .submit{
    width: 30%;
    position: fixed;
    top: 110%;
    left: 35%;
  }

  .qq-container{
    padding: 5%;
   }
}